<div
  class="modal fade edit-task-modal"
  id="editTaskModal<%= task.id %>"
  tabindex="-1"
  aria-labelledby="editTaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="header">
          <h5 class="modal-title" id="newTaskModalLabel">Task details</h5>
          <button type="button" class="btn close" data-bs-dismiss="modal">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="task-labels">
          <% task_labels(task).each do |label| %>
          <span
            class="badge rounded-pill"
            style="background-color: <%= label.color %>"
            ><%= label.name %></span
          >
          <% end %>
        </div>
      </div>

      <%= form_with(model: [board, list, task], local: true, method: :patch, id:
      "task_edit_#{task.id}") do |f| %>
      <div class="modal-body form-new-task">
        <div class="fields-container">
          <div class="form-group row">
            <div class="col-10">
              <i class="fa-regular fa-square-check fa-lg"></i>
              <%= f.text_field :title, class: "field", placeholder: "Name your
              task" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="label-container">
              <i class="fa-solid fa-align-left"></i>
              <%= f.label :details, class: "col-form-label" %><br />
            </div>
            <div class="col-12">
              <%= f.text_area :details, class: "field-area", placeholder: "Add
              your description" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="label-container">
              <i class="fa-solid fa-align-left"></i>
              <%= f.label :justification, class: "col-form-label" %><br />
            </div>
            <div class="col-12">
              <%= f.text_area :justification, class: "field-area", placeholder:
              "Add your justification" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="label-container">
              <i class="fa-solid fa-paperclip"></i>
              <%= f.label :image, class: "col-form-label" %><br />
            </div>
            <div class="col-12">
              <%= f.file_field :image, class: "field-area" %>
            </div>
          </div>

          <div class="modification-history">
            <span
              class="title accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
              >Modification history <i class="fa-solid fa-chevron-down ms-2"></i
            ></span>
            <div
              class="history-list accordion-collapse collapse"
              id="flush-collapseOne"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <% history_by_task(task).each do |history| %>
              <div class="history">
                <%= content_tag(:span, history[0], class:"list-name") %> <%=
                content_tag(:span, history[1], class:"date-history") %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="aside-form">
          <div class="date-control">
            <span class="date-label">Start</span>
            <%= f.datetime_field(:started_at, class:"date") %>
          </div>
          <div class="date-control">
            <span class="date-label">Due</span>
            <%= f.datetime_field(:finished_at, class:"date") %>
          </div>
          <div class="points-control">
            <span class="points-label">Story Points</span>
            <%= f.select(:doing_time, points_for_select, {}, class:
            "select-points form-select") %>
          </div>
          <div class="move-control">
            <span class="move-label">Move</span>
            <%= f.select(:list_id, lists_for_select, {}, class: "select-move
            form-select") %>
          </div>
          <% end %>

          <div class="labels-control">
            <%= form_with(url: "/tags", local: true) do |l| %>
            <span class="labels-label">Label</span>
            <div class="add-label">
              <%= l.hidden_field :task_id, :value => task.id %> <%=
              l.select(:label_id, labels_for_select, {}, class: "select-labels
              form-select") %>
              <div
                class="d-flex justify-content-center align-items-center me-2 plus"
                style="width: 25px; height: 25px"
              >
                <%= l.submit "+", class: "btn label-plus" %>
              </div>
            </div>
            <span
              class="new-label"
              data-bs-toggle="modal"
              data-bs-target="#newLabelModal"
              >New Label</span
            >
            <% end %>
          </div>

          <div class="assigned-to">
            <div class="label-container">
              <p>Assigned to</p>
            </div>
            <div class="users-assigned">
              <% users_assigned(task.id).each do |user| %>
              <a
                href="#"
                class="d-flex align-items-center link-dark text-decoration-none rounded-circle me-1"
                id="dropdownUser2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <%= user[0].chr %>
              </a>
              <% end %> <%= form_with(model: UserTask.new, local: true) do |a|
              %>
              <div>
                <%= a.hidden_field :task_id, :value => task.id %> <%=
                a.select(:user_id, users_unassigned(task.id),{ :prompt => "+" },
                class: 'd-flex text-decoration-none add-member', onchange:
                "this.form.submit();") %>
              </div>
              <% end %>
            </div>
          </div>

          <div class="item-danger-delete">
            <%= link_to "Delete", board_list_task_path(board, list, task),
            method: :delete, data: {confirm: "Are you sure?"},
            class:"dropdown-item" %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row justify-content-center">
          <%= submit_tag "Save changes", class:"btn edit-task-btn",
          form:"task_edit_#{task.id}" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render template: "labels/new" %>
