<div
  class="modal fade new-task-modal"
  id="newTaskModal<%= list.id %>"
  tabindex="-1"
  aria-labelledby="newTaskModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">New task</h5>
        <button type="button" class="btn close" data-bs-dismiss="modal">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
      <%= form_with(model: [board, list, Task.new], local:true) do |f| %>
      <div class="modal-body form-new-task">
        <div class="fields-container">
          <div class="form-group row">
            <div class="col-10">
              <i class="fa-regular fa-square-check fa-lg"></i>
              <%= f.text_field :title, class: "field", placeholder: "Name your task" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="label-container">
              <i class="fa-solid fa-align-left"></i>
              <%= f.label :details, class: "col-form-label" %><br />
            </div>
            <div class="col-12">
              <%= f.text_area :details, class: "field-area", placeholder: "Add your description" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="label-container">
              <i class="fa-solid fa-align-left"></i>
              <%= f.label :justification, class: "col-form-label" %><br />
            </div>
            <div class="col-12">
              <%= f.text_area :justification, class: "field-area", placeholder:
              "Add your justification" %>
            </div>
          </div>
        </div>
        <div class="aside-form">
          <div class="date-control">
            <span class="date-label">Start</span>
            <%= f.datetime_field(:started_at, min: Date.today, class:"date") %>
          </div>
          <div class="date-control">
            <span class="date-label">Due</span>
            <%= f.datetime_field(:finished_at, min: Date.today, class:"date") %>
          </div>
          <div class="points-control">
            <span class="points-label">Story Points</span>
            <%= f.select(:doing_time, points_for_select, {}, class:
            "select-points form-select") %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="form-group row justify-content-center">
          <%= f.submit "Add", class:"btn add-task-btn" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
