<section class="list-plans">
  <div class="list-plans-header">
    <h4>Pick your plan</h4>
    <% if admin? && !reached_max_plans? %> <%= link_to new_plan_path,
    class:"text-decoration-none" do %>
    <div class="add-plan-container">
      <div
        class="d-flex justify-content-center align-items-center me-2 plus"
        style="width: 25px; height: 25px"
      >
        <i class="fa-solid fa-plus"></i>
      </div>
      <a class="new-board navbar-brand">New plan</a>
    </div>
    <% end %> <% end %>
  </div>
  <div class="plans-container">
    <% if @plans %> <% @plans.each do |plan| %>
    <div class="card-container">
      <articles class="card plan-card">
        <% if admin? %>
          <div class="plan-actions">
            <i
              class="fa-solid fa-ellipsis"
              id="boardPublicActions"
              data-bs-toggle="dropdown"
            ></i>
            <ul
              class="dropdown-menu text-small shadow"
              aria-labelledby="boardPublicActions"
            >
              <li>
                <%= link_to "Edit plan", edit_plan_path(plan), class:"dropdown-item" %>
              </li>
            </ul>
          </div>
        <% end %> 
        <div class="card-header">
          <% if plan.image.attached? %> <%= image_tag plan.image,
          class:"plan-image attached board-circle rounded-circle"%> <% else %>
          <%= image_tag("rocket", class: "plan-image") %> <% end %>
          <h3><%= plan.name %></h3>
        </div>
        <div class="card-body">
          <p class="small-description"><%= plan.description %></p>
          <p class="price">
            $<%= "#{plan.price_cents} #{plan.price_currency}" %>
          </p>
          <span class="duration"><%= pluralize(plan.duration, "Month") %></span>
        </div>
        <div class="card-footer d-flex flex-column">
          <% if  subscribed? %> 
            <% if !logged_in? %> 
              <%= link_to "Purchase", "", class:"btn btn-primary disabled" %> 
              <%= link_to "Sign up first", new_user_registration_path %> 
            <% else %> 
              <%= link_to "Purchase", new_subscription_path(:plan_id => plan.id), class:"btn btn-primary" %>
            <% end %> 
          <% else %>
            <%= link_to "Purchase", "", class:"btn btn-primary disabled" %> 
          <% end %> 
        </div>
      </articles>
      <div class="full-characteristics">
        <h4>Plan includes:</h4>
        <div class="characteristic">
          <i class="fa-solid fa-check check"></i>
          <span>Up to <%= pluralize(plan.quantity_members, "member") %></span>
        </div>
        <div class="characteristic">
          <i class="fa-solid fa-check check"></i>
          <span>A max of 10 boards</span>
        </div>
      </div>
    </div>
    <% end %> <% end %>
  </div>
</section>
