<section class="background-devise">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-white text-dark" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">New plan</h2>
              <%= form_with(model: Plan.new, local: true) do |f| %>
                
                <div class="form-outline form-dark mb-4">
                  <%= f.label :name, class:"form-label" %><br />
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>

                <div class="form-outline form-dark mb-4">
                  <%= f.label :quantity_members, class:"form-label" %><br />
                  <%= f.text_field :quantity_members, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>

                <div class="form-outline form-dark mb-4">
                  <%= f.label :duration, class:"form-label" %><br />
                  <%= f.text_field :duration, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>

                <div class="form-outline form-dark mb-4">
                  <%= f.label :price_cents, class:"form-label" %><br />
                  <%= f.text_field :price_cents, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>

                <div class="form-outline form-dark mb-4">
                  <%= f.label :price_currency, class:"form-label" %><br />
                  <%= f.text_field :price_currency, autofocus: true, autocomplete: "name", class:"form-control form-control-lg" %>
                </div>
                
                <%= f.submit "Create plan", class:"btn btn-outline-primary btn-lg px-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
