<nav class="navbar navbar-expand-lg shadow-sm">
  <div class="container-fluid" style="gap: 50%">
    <div class="d-flex align-items-center">
      <i class="fa-solid fa-bars me-4"></i>
      <div
        class="border rounded-circle d-flex justify-content-center align-items-center me-2"
        style="width: 25px; height: 25px"
        data-bs-toggle="modal"
        data-bs-target="#newBoardModal"
      >
        <i class="fa-solid fa-plus"></i>
      </div>
      <a class="navbar-brand" href="#">Home</a>
    </div>
    <div class="dropdown ms-3">
      <a
        href="#"
        class="d-flex align-items-center link-dark text-decoration-none"
        id="dropdownUser2"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <% if current_user && current_user.image.attached? %>
          <%= image_tag current_user.image, class:"rounded-circle me-2",style:"width: 32px; height: 32px"%>
        <% else %>
          <img
            src="https://github.com/mdo.png"
            alt=""
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
        <% end %>
      </a>
      <ul
        class="dropdown-menu text-small shadow dropdown-menu-end dropdown-menu-start"
        aria-labelledby="dropdownUser2"
      >
        <% if logged_in? %>
          <li>
            <%= link_to "New project...",boards_path, class: "dropdown-item", id:
            "boards" %>
          </li>
          <li>
            <%= link_to "Profile", edit_user_registration_path, class:
            "dropdown-item", id: "profile" %><a
              class="dropdown-item"
              href="#"
            ></a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <%= button_to "Sign out", destroy_user_session_path, class:
            "dropdown-item", :method => :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "Sign in", new_user_session_path, class: "dropdown-item"
            %>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item"
            %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
